@font-face {
    font-family: OpenSans-Regular;
    src: url("/assets/fonts/OpenSans-Regular.ttf")
}
@font-face {
    font-family: BigJohn;
    src: url("/assets/fonts/BIG JOHN.ttf")
}
@font-face {
    font-family: SourceSansPro-Regular;
    src: url("/assets/fonts/SourceSansPro-Regular.ttf")
}
@font-face {
    font-family: SourceSansPro-Light;
    src: url("/assets/fonts/SourceSansPro-Light.ttf")
}
@font-face {
    font-family: Roboto-Light;
    src: url("/assets/fonts/RobotoSlab-Light.ttf")
}
@font-face {
    font-family: SourceSansPro-Black;
    src: url("/assets/fonts/SourceSansPro-Black.ttf")
}

* {
    font-size: 10px;
}
body {
    width: 100%;
}
.header {
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    background-image: url("../assets/img/header-background.png");
    background-size: cover;
    background-color:  rgba(32, 34, 36, 0.5);
    background-blend-mode: multiply;
    &-top {      
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 3.5em 0em 20em 0em;
        &__logo {
            width: 22%;  
            color: rgba(255, 255, 255, 1);      
            display: flex;
            justify-content: center;  
            &-text {
                font-family: BigJohn;
                font-size: 2.5em;
            }
        }
        &__nav {
            width: 77%;
            display: flex;
            justify-content: flex-end;
            color: rgba(255, 255, 255, 0.8);
            &-button {
                font-family: OpenSans-Regular;
                font-size: 1.6em;
                border: 0.1em solid  rgba(255, 255, 255, 0);
                border-radius: 1.3em;
                padding: 0.3em 1.2em;
                margin-right: 0.2em;            
            }
            &-button:hover {
                border: 0.1em solid  rgba(255, 255, 255, 0.8);
                cursor: pointer;
            }
        }
        &__nav>a {
            color: rgba(255, 255, 255, 0.8); 
            text-decoration: none;
        }
    }
    &-head {
        width: 100%;
        text-align: center;
        padding-bottom: 20em;
        &__text1 {
            font-family: SourceSansPro-Light;
            font-size: 3.5em;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }
        &__text2 {
            font-family: OpenSans-Regular;
            font-size: 1.6em;
        }
    }
    &-bottom {
        width: 100%;
        padding-bottom: 7.5em;
        &__circle {
            width: 4em;
            height: 4em;
            text-align: center;
            margin: 0em auto;
            border-radius: 50%;
            background-color:  rgb(25, 189, 154);
            &-arrow {
                color: rgba(255, 255, 255, 0.8);
                margin: 0em;
            }
            &-arrow>img {
                width: auto;
                height: auto;
                padding-top: 1.7em;
            }
        }
    }
}
.start {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    &-left {
        width: 37%;
        &__text1 {
            color: rgba(51, 59, 70, 1);
            font-family: SourceSansPro-Light;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            padding: 5.5em 0em 1em 0em;
            font-weight: bolder;
        }
        &__text2 {
            color: rgba(129, 134, 142, 1);
            font-family: OpenSans-Regular;
            font-size: 1.4em;
            padding-right: 4em;
            margin: 0em;
            line-height: 1.6em;
            text-align: justify;
        }
        &__button {
            padding: 3em 0em 10em 0em;
            &-but {
                font-family: OpenSans-Regular;
                font-size: 1.6em;
                color: rgba(51, 59, 70, 1);
                border: 0.05em solid  rgba(51, 59, 70, 1);
                border-radius: 1.4em;
                background-color:  rgba(0, 0, 0, 0);
                padding: 0.4em 1.8em;
                margin-right: 0.2em;   
                outline: none;      
            }
            &-but:hover {
                color: rgba(255, 255, 255, 1);
                background-color:  rgb(25, 189, 154);
                border: 0.05em solid  rgba(51, 59, 70, 0);
                border-radius: 1.4em;
            }
        }
    }
    &-right {
        width: 30%;
        display: flex;
        justify-content: center;
        padding-top: 8em;
        margin-left: 3em;
        &__img {
            width: auto;
            height: fit-content;
        }
    }
}
.details-indicators  {
    position: relative;
    margin: 0;
}
.details-indicators>li {
    text-indent: 0;
}

.details {
    width: 100%;
    background-color:  rgb(243, 243, 243);
    &-head {
        width: 100%;
        text-align: center;
        padding: 7.5em 0em 5.5em 0em;
        &__text1 {
            font-family: SourceSansPro-Light;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            padding-bottom: 1.2em;
            color: rgba(51, 59, 70, 1);
            font-weight: bolder;
        }
        &__text2 {
            font-family: OpenSans-Regular;
            font-size: 1.4em;
            margin: 0em;
            color: rgba(129, 134, 142, 1);
        }
    }
    &-indicators {
        width: 100%;
        position: relative;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0 0 5em 0;
        list-style: none;
        &__item {
            margin-right: 3em;
        }
        &__item:last-child {
            margin-right: 0;
        }
        &__icon1 {
            padding: 1.4em 1.2em;
        }
        &__icon2 {
            padding: 0.7em 1.7em;
        }
        &__icon3 {
            padding: 1em 1.5em;
        }
    }
    &-indicators>li {
        width: 5em;
        height: 5em;
        text-indent: 0;
        border-radius: 50%;
        background-color:  rgb(129, 134, 142);
        margin-right: 3em;
    }
    &-indicators>li:last-child {
        margin-right: 0em;
    }
    &-indicators .active {
        background-color:  rgb(25, 189, 154);
    }
    &-carousel {
        &-content {
            &__inner {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding-bottom: 9em;
            }
            &__left {
                width: 33%;
                padding-right: 11em;
                text-align: justify;
                &-head {
                    font-family: OpenSans-Regular;
                    font-size: 2em; 
                    color: rgba(51, 59, 70, 1);
                    padding-bottom: 1em;
                }
                &-text {
                    font-family: OpenSans-Regular;
                    font-size: 1.6em; 
                    color: rgba(129, 134, 142, 1);
                }
                &-text>span {
                    font-size: 1em;
                    font-weight: bolder;
                    color:  rgb(25, 189, 154);
                }
                &-text>span:last-of-type {
                    font-size: 1em;
                    font-weight: bolder;  
                    color: rgba(51, 59, 70, 1);
                }
            }
            &__right {
                width: 42%;
                padding: 6em 6em 0em 0em;
                text-align: justify;
                &-text {
                    font-family: OpenSans-Regular;
                    font-size: 1.4em; 
                    line-height: 1.8em;
                    color: rgba(129, 134, 142, 1);
                }
                &-text>span {
                    font-size: 1em;
                    font-weight: bolder;
                    color:  rgb(25, 189, 154);
                }
                &-text>span:first-of-type {
                    font-size: 1em;
                    font-weight: bolder;  
                    color: rgba(51, 59, 70, 1);
                }
                &-text>span:last-of-type {
                    font-size: 1em;
                    font-weight: bolder;  
                    color: rgba(51, 59, 70, 1);
                }
            }
        }  
    }
}
.projects {
    width: 100%;
    background-color:  rgb(255, 255, 255);
    &-head {
        width: 100%;
        text-align: center;
        padding: 7.5em 0em 5.5em 0em;
        &__text1 {
            font-family: SourceSansPro-Light;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            padding-bottom: 1.2em;
            color: rgba(51, 59, 70, 1);
            font-weight: bolder;
        }
        &__text2 {
            font-family: OpenSans-Regular;
            font-size: 1.4em;
            margin: 0em;
            color: rgba(129, 134, 142, 1);
        }
    }
    &-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        &__img1 {
            width: 33.3%;
            height: 31.9em;
            background-image: url("../assets/img/projects-1.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-color:  rgba(32, 34, 36, 0.9);
            background-blend-mode: multiply;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: width 0.7s, background-color 0.7s;
            &-text {
                font-family: SourceSansPro-Light;
                font-size: 2em;
                letter-spacing: 0.2em;
                color: rgba(255, 255, 255, 0.6);
            }
        }
        &__img1:hover {
            width: 51%;
            background-color:  rgba(0, 0, 0, 0);
        }
        &__img1:hover .projects-content__img1-text {
            display: none;
        }
        &__img2 {
            width: 33.3%;
            height: 31.9em;
            background-image: url("../assets/img/projects-2.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-color:  rgba(32, 34, 36, 0.9);
            background-blend-mode: multiply;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: width 0.7s, background-color 0.7s;
            &-text {
                font-family: SourceSansPro-Light;
                font-size: 2em;
                letter-spacing: 0.2em;
                color: rgba(255, 255, 255, 0.6);
            }
        }
        &__img2:hover {
            width: 51%;
            background-color:  rgba(0, 0, 0, 0);
        }
        &__img2:hover .projects-content__img2-text {
            display: none;
        }
        &__img3 {
            width: 33.3%;
            height: 31.9em;
            background-image: url("../assets/img/projects-1.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-color:  rgba(32, 34, 36, 0.9);
            background-blend-mode: multiply;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: width 0.7s, background-color 0.7s;
            &-text {
                font-family: SourceSansPro-Light;
                font-size: 2em;
                letter-spacing: 0.2em;
                color: rgba(255, 255, 255, 0.6);
            }
        }
        &__img3:hover {
            width: 51%;
            background-color:  rgba(0, 0, 0, 0);
        }
        &__img3:hover .projects-content__img3-text {
            display: none;
        }
    }
    &-bottom {
        width: 100%;
        height: 11.3em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: url("../assets/img/projects-4.png");
        &__text {
            width: 55%;
            font-family: OpenSans-Regular;
            font-size: 2em;
            color: rgba(255, 255, 255, 0.8);
            margin-bottom: 0em;
        }
        &__text>span{
            font-size: 1em;
            font-weight: bolder;
        }
        &__button {
            width: 20.4%;
            text-align: center;
            &-but {
                font-family: OpenSans-Regular;
                font-size: 1.6em;
                color: rgba(255, 255, 255, 0.8);
                border: 0.05em solid  rgba(255, 255, 255, 0.8);
                border-radius: 1.4em;
                background-color:  rgba(0, 0, 0, 0);
                padding: 0.3em 1.3em;  
                outline: none;     
            }
        }
    }
}

.services {
    width: 100%;
    background-color:  rgb(255, 255, 255);
    &-head {
        width: 100%;
        text-align: center;
        padding: 7.5em 0em 5.5em 0em;
        &__text1 {
            font-family: SourceSansPro-Light;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            padding-bottom: 1.2em;
            color: rgba(51, 59, 70, 1);
            font-weight: bolder;
        }
        &__text2 {
            font-family: OpenSans-Regular;
            font-size: 1.4em;
            margin: 0em;
            color: rgba(129, 134, 142, 1);
        }
    }
    &-content {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 11em;
    }
    &-indicators {
        width: 20%;
        position: relative;
        margin: 0;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none; 
        margin-right: 4em;  
        bottom: 0px;   
            &__icon1 {
                padding: 1em 0 0 1.1em
            }
            &__icon2 {
                padding: 1.1em 0 0 1.1em
            }
            &__icon3 {
                padding: 0.8em 0 0 1.1em
            }
            &__icon4 {
                padding: 1em 0 0 1.4em
            }
        }
    &-indicators>li {
        width: 5em;
        height: 5em;
        text-indent: 0;
        border-radius: 50%;
        background-color:  rgb(129, 134, 142);
        margin-bottom: 1.5em;
    }
    &-indicators>li:last-child {
        margin-bottom: 0em;
    }
    &-indicators .active {
        background-color:  rgb(25, 189, 154);
    }
    &-carousel {
        width: 50%;
        display: flex;
        flex-direction: row;
        &-content {
            height: max-content;
            &__slide {
                font-family: OpenSans-Regular;
                padding-right: 5em;
                &-head {
                    font-size: 2em;
                    color: rgba(51, 59, 70, 1);
                    margin: 0 0 1em 0;
                }
                &-text1 {
                    font-size: 1.6em;     
                    color: rgba(51, 59, 70, 0.9);
                    margin: 0 0 1.5em 0;
                    text-align: justify;
                }
                &-text1>span {
                    font-size: 1em;
                    font-weight: bolder;
                    color: rgba(51, 59, 70, 1);
                }
                &-text1>span:first-of-type {
                    font-size: 1em;
                    font-weight: bolder;
                    color: rgba(25, 189, 154, 0.8);
                }
                &-text2 {
                    font-size: 1.4em;
                    line-height: 1.8em;
                    color: rgba(51, 59, 70, 0.9);
                    text-align: justify;
                }
            }
        }
    }
    &-content {
        &__right {
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            &-item {
                width: 30%;
                height: 15em;
                display: flex;
                justify-content: center;
            }
            &-circle {
                width: 4.4em;
                height: 4.4em;
                position: absolute;
                border-radius: 50%;
                border: 0.15em solid  rgba(25, 189, 154, 1);           
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: OpenSans-Regular;
                font-size: 2.5em;
                color: rgba(51, 59, 70, 0.8);
                margin: auto; 
            }
            &-sect1 {
                position: absolute;
                margin-left: 4px;
                z-index: 10;
            }
            &-sect2 {
                position: absolute;
                margin-left: 4px;
                z-index: 10;
            }
            &-sect3 {
                position: absolute;
                margin-left: 4px;
                z-index: 10;
            }
            &-circle:last-child {
                margin: 0em;
            }
            &-circle>span {
                font-size: 0.5em;
            }
            &-text {
                width: 6.875em;
                position: absolute;
                font-family: Roboto-Light;
                font-size: 1.6em;
                padding-top: 8em;
                text-align: center;
            }
        }
    }
}
/*Vertical carousel*/
.vertical .carousel-item-next.carousel-item-left,
.vertical .carousel-item-prev.carousel-item-right {
            transform: translate3d(0, 0, 0);
}
.vertical .carousel-item-next,
.vertical .active.carousel-item-right {
            transform: translate3d(0, 100%, 0);
}

.vertical .carousel-item-prev,
.vertical .active.carousel-item-left {
        transform: translate3d(0,-100%, 0);
}

.quote {
    width: 100%;
    background-image: url("../assets/img/laptop-background.png");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &-content {
        width: 44%;
        padding: 7em 2em 10em 0em;
        &__head {
            font-family: SourceSansPro-Light;
            font-size: 2em;
            color: rgba(255, 255, 255, 1);
            text-transform: uppercase;
            letter-spacing: 0.2em;
            padding-bottom: 2em;
        }
        &__text1 {
            font-family: OpenSans-Regular;
            font-size: 1.6em;
            color: rgba(255, 255, 255, 0.6);
            padding-bottom: 1em;
            text-align: justify;
        }
        &__text2 {
            font-family: OpenSans-Regular;
            color: rgba(255, 255, 255, 0.6);
            font-weight: bold;
            font-size: 1.4em;
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }
        &__text3 {
            font-family: OpenSans-Regular;
            color: rgba(255, 255, 255, 0.6);
            font-size: 1.4em;
            text-transform: uppercase;
        }
        &__text3>span {
            font-size: 1em;
            color:  rgba(25, 189, 154, 1);
        }
    }
    &-image {
        width: 41.5%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        &__img {
            margin-top: -4em;
        }
    }
}

.portfolio {
    width: 100%;
    background-color:  rgb(243, 243, 243);
    padding-bottom: 10em;
    &-head {
        width: 100%;
        text-align: center;
        padding: 7.5em 0em 5.5em 0em;
        &__text1 {
            font-family: SourceSansPro-Light;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            padding-bottom: 1.2em;
            color: rgba(51, 59, 70, 1);
            font-weight: bolder;
        }
        &__text2 {
            font-family: OpenSans-Regular;
            font-size: 1.4em;
            margin: 0em;
            color: rgba(129, 134, 142, 1);
        }
    } 
    &-input {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 6em;
        color: rgba(70, 70, 70, 0.7);
        &__button {
            font-family: OpenSans-Regular;
            font-size: 1.6em;
            border: 0.1em solid  rgba(25, 189, 154, 0); 
            background-color:  rgba(25, 189, 154, 0); 
            padding: 0.6em 1.2em;
            outline: none;    
        }
        &__button:hover {
            border-bottom: 0.1em solid  rgba(25, 189, 154, 1); 
        }
    }
    &-item {
        width: 100%;
        height: 95em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 3em;
        &-block {
            width: 100%;
            height: 95em;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        &-col {
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            margin-right: 1em;
        }
        &__content {
            display: none;
            padding: 4em;
            &-head {
                font-family: SourceSansPro-Light;
                font-size: 2em;   
                color:  rgba(25, 189, 154, 1); 
                font-weight: bolder;
            }
            &-text {
                font-family: OpenSans-Regular;
                font-size: 1.2em;
                color: rgba(255, 255, 255, 0.8);
                line-height: 2em;
            }
            &-icon {
                display:flex;
                flex-direction:row;
                &-img {
                    padding: 0.8em 0.8em;
                }
            }
            &-icon1 {
                width: 3em;
                height: 3em;
                background-color: rgba(0, 0, 0, 0.9);
                border-radius: 50%;
                margin-right: 0.6em;
            }
        }
    } 
    &-sort {
        width: max-content;
        margin: 0 auto 6em auto;
        display: none;
    }
    &-sort>img {
        width: 27em;
        height: 27em;
        margin-right: 2em;
    }
    &-banner {
        width: 80%;
        margin: auto;
        background-image: url("../assets/img/start-background.png");
        background-size: cover; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4em 0 5em 0;
        &__text {
            font-family: OpenSans-Regular;
            font-size: 2em;
            color: rgba(255, 255, 255, 1);
            padding-bottom: 0.8em;
            text-align: center;
        }
        &__text>span {
            font-size: 1em;
            font-weight: bold;
        }
        &__button {
            width: fit-content;
            margin: auto;
            font-family: OpenSans-Regular;
            font-size: 1.6em;
            color: rgba(255, 255, 255, 0.9);
            border: 0.05em solid  rgba(255, 255, 255, 1);
            border-radius: 1.4em;
            background-color:  rgba(0, 0, 0, 0);
            padding: 0.4em 1.5em;  
            outline: none;    
        }
        &__button:hover {
            background-color:  rgba(46, 188, 163, 1);
            background-blend-mode: multiply;
        }
    }
#item1 {
    width: 100%;
    height: 38.77%;
    //height: 36.1em;
    background-image: url("../assets/img/protfolio-1-1.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
    overflow: hidden;
    
}
#item2 {
    width: 100%;
    height: 38.77%;
    //height: 36.1em;
    background-image: url("../assets/img/protfolio-2-1.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
    overflow: hidden;
}
#item3 {
    width: 100%;
    height: 22.46%;
    //height: 20.9em;
    background-image: url("../assets/img/protfolio-3-1.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
    overflow: hidden;
}
#item3>div {
    padding: 1em 4em;
}
#item4 {
    width: 100%;
    height: 24.6%;
    //height: 22.9em;
    background-image: url("../assets/img/protfolio-1-2.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
    overflow: hidden;
}
#item4>div {
    padding: 1em 4em;
}
#item5 {
    width: 100%;
    height: 36.95%;
    //height: 34.4em;
    background-image: url("../assets/img/protfolio-2-2.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
    overflow: hidden;
}
#item6 {
    width: 100%;
    height: 38.36%;
    //height: 35.7em;
    background-image: url("../assets/img/protfolio-3-2.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
    overflow: hidden;
}
#item7 {
    width: 100%;
    height: 32.33%;
    //height: 30.1em;
    background-image: url("../assets/img/protfolio-1-3.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
    overflow: hidden;
}
#item8 {
    width: 100%;
    height: 40.28%;
    //height: 37.5em;
    background-image: url("../assets/img/protfolio-2-3.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
    overflow: hidden;
}
#item9 {
    width: 100%;
    height: 27.39%;
    //height: 25.5em;
    background-image: url("../assets/img/protfolio-3-3.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
    overflow: hidden;
}
#item9>div {
    padding: 2em 4em;
}
#item10 {
    width: 100%;
    height: 38.78%;
    //height: 36.1em;
    background-image: url("../assets/img/protfolio-1-4.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
    overflow: hidden;
}
#item11 {
    width: 100%;
    height: 28.89%;
    //height: 26.9em;
    background-image: url("../assets/img/protfolio-2-4.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
    overflow: hidden;
}
#item12 {
    width: 100%;
    height: 32.33%;
    //height: 30.1em;
    background-image: url("../assets/img/protfolio-3-4.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
    overflow: hidden;
}
#item1:hover .portfolio-item__content,
#item2:hover .portfolio-item__content,
#item3:hover .portfolio-item__content,
#item4:hover .portfolio-item__content,
#item5:hover .portfolio-item__content,
#item6:hover .portfolio-item__content,
#item7:hover .portfolio-item__content,
#item8:hover .portfolio-item__content,
#item9:hover .portfolio-item__content,
#item10:hover .portfolio-item__content,
#item11:hover .portfolio-item__content,
#item12:hover .portfolio-item__content, {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:  rgba(32, 34, 36, 0.9);
    background-blend-mode: multiply;
    
}
}
.team {
    width: 100%;
    background-color:  rgb(255, 255, 255);
    padding-bottom:17em;
    &-head {
        width: 100%;
        text-align: center;
        padding: 7.5em 0em 5.5em 0em;
        &__text1 {
            font-family: SourceSansPro-Light;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            padding-bottom: 1.2em;
            color: rgba(51, 59, 70, 1);
            font-weight: bolder;
        }
        &__text2 {
            font-family: OpenSans-Regular;
            font-size: 1.4em;
            margin: 0em;
            color: rgba(129, 134, 142, 1);
        }
    }
    &-carousel {
        &-indicators {
            position: relative;
            margin: 0;
            bottom: -45em;
        }
        &-indicators>li {
            width: 1em;
            height: 1em;
            text-indent: 0;
            border-radius: 50%;
            border: 0.1em solid rgba(25, 189, 154, 0.9); 
            background-color: rgba(0, 0, 0, 0);
        }
        &-indicators .active {
            background-color: rgba(25, 189, 154, 0.9); 
        }
        &-content {
            width: 80%;
            height: 37em;
            margin: auto;
            &__slide {
            }
            &__left {
                width: 60%;
                float: left;
            }
            &__left>img {
                width: initial;
            }
            &__right {
                width: 40%;
                height: 37em;
                text-align: end;
                float: left;
                margin: auto 0em;
                padding-right: 5em;
                overflow-y: scroll;
                /*что не так? не могу изменить цвет скролл-бара*/
                ::-webkit-scrollbar-thumb {
                    background-color: rgba(25, 189, 154, 1); 
                }
                &-img {
                    display: none;
                }
                &-head {
                    font-family: OpenSans-Regular;
                    font-size: 2em;
                    color: rgba(89, 89, 89, 1);
                    margin-bottom: 0em;
                }
                &-text1 {
                    font-family: SourceSansPro-Light;
                    font-size: 1.4em;
                    font-style: italic;
                    text-transform: uppercase; 
                    color: rgba(129, 134, 142, 1); 
                    margin-bottom: 2em;
                }
                &-text2 {
                    font-family: OpenSans-Regular;
                    font-size: 1.4em;
                    color: rgba(129, 134, 142, 1); 
                    margin-bottom: 2em;
                }
                &-tab {
                    width: 90%;
                    margin: 0em 0em 0em auto;
                    display:flex;
                    flex-direction: column;
                    align-items: flex-end;
                    font-family: SourceSansPro-Light;
                    color: rgba(129, 134, 142, 1);  
                } 
                &-line1 {
                    width: 90%;
                    display:flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    margin-bottom: 2em;
                    &-text {
                        width: 80%;
                        text-align: start;
                        font-family: SourceSansPro-Light;
                        font-size: 1.6em;
                        line-height: 2em;
                        color: rgba(129, 134, 142, 1); 
                        border-bottom: 0.25em solid rgba(25, 189, 154, 1); 
                    }
                    &-percent {
                        width: 20%;
                        font-family: SourceSansPro-Light;
                        font-size: 1.6em;
                        line-height: 2em;
                        color: rgba(129, 134, 142, 1); 
                        border-bottom: 0.25em solid rgba(51, 59, 70, 0.2);
                        padding-right: 1em;
                    }
                }
                &-line2 {
                    width: 90%;
                    display:flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    margin-bottom: 2em;
                    &-text {
                        width: 65%;
                        text-align: start;
                        font-family: SourceSansPro-Light;
                        font-size: 1.6em;
                        line-height: 2em;
                        color: rgba(129, 134, 142, 1); 
                        border-bottom: 0.25em solid rgba(25, 189, 154, 1); 
                    }
                    &-percent {
                        width: 35%;
                        font-family: SourceSansPro-Light;
                        font-size: 1.6em;
                        line-height: 2em;
                        color: rgba(129, 134, 142, 1); 
                        border-bottom: 0.25em solid rgba(51, 59, 70, 0.2);
                        padding-right: 1em;
                    }
                }
                &-line3 {
                    width: 90%;
                    display:flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    margin-bottom: 2em;
                    &-text {
                        width: 75%;
                        text-align: start;
                        font-family: SourceSansPro-Light;
                        font-size: 1.6em;
                        line-height: 2em;
                        color: rgba(129, 134, 142, 1);  
                        border-bottom: 0.25em solid rgba(25, 189, 154, 1); 
                    }
                    &-percent {
                        width: 25%;
                        font-family: SourceSansPro-Light;
                        font-size: 1.6em;
                        line-height: 2em;
                        color: rgba(129, 134, 142, 1); 
                        border-bottom: 0.25em solid rgba(51, 59, 70, 0.2);
                        padding-right: 1em;
                    }
                }
            }
        }
    }
}
.contact-banner {
    width: 100%;
    background-image: url("../assets/img/contact-background.png");
    background-size: cover; 
    color: rgba(255, 255, 255, 1); 
    display: flex;
    flex-direction: column;
    padding: 4em 0em 5em 0em;
    &__text {
        font-family: OpenSans-Regular;
        font-size: 2em;
        text-align: center;
        margin-bottom: 1em;
    }
    &__button {
        width: fit-content; 
        margin: auto;
        font-family: OpenSans-Regular;
        font-size: 1.6em;
        color: rgba(255, 255, 255, 1); 
        border: 0.05em solid  rgba(255, 255, 255, 1); 
        border-radius: 1.4em;
        background-color:  rgba(0, 0, 0, 0); 
        padding: 0.3em 1.3em; 
        outline: none;    
    }
    &__button:hover {
        background-color:  rgba(18, 18, 18, 1); 
        background-blend-mode: multiply;
    }
}
.testimonials {
    width: 100%;
    background-color:  rgb(243, 243, 243);
    padding-bottom: 10em;
    &-head {
        width: 100%;
        text-align: center;
        padding: 7.5em 0em 5.5em 0em;
        &__text1 {
            font-family: SourceSansPro-Light;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            padding-bottom: 1.2em;
            color: rgba(51, 59, 70, 1);
            font-weight: bolder;
        }
        &__text2 {
            font-family: OpenSans-Regular;
            font-size: 1.4em;
            margin: 0em;
            color: rgba(129, 134, 142, 1);
        }
    }
    &-carousel {
        width: 90%;
        background-color:  rgba(255, 255, 255, 1); 
        margin: auto;
        &-content {
            &__slide {
            }
            &__left {
                width: 26%;
                float: left;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 6em;
                &-img {
                    width: 13em;
                    height: 13em;
                    margin: auto;
                }
            }
            &__right {
                width: 74%;
                height: fit-content;
                float: left;
                text-align: left;
                margin: 6em 0em 10em 0em;
                padding-right: 10em;
                &-text1 {
                    font-family: OpenSans-Regular;
                    font-size: 1.6em;
                    color: rgba(51, 59, 70, 0.7); 
                    padding-bottom: 1em;
                    text-align: justify;
                }
                &-text2 {
                    font-family: OpenSans-Regular;
                    font-size: 1.6em;
                    font-weight: bold;
                    color: rgba(25, 189, 154, 0.9);
                    margin-bottom: 0em;
                }
                &-text3 {
                    font-family: OpenSans-Regular;
                    font-size: 1.4em;
                    color: rgba(51, 59, 70, 1); 
                }
            }
        }
        &-indicators {
            bottom: 4em;
        }
        &-indicators>li {
            width: 1em;
            height: 1em;
            border-radius: 50%;
            border: 0.1em solid rgba(25, 189, 154, 0.9); 
            background-color: rgba(0, 0, 0, 0);
        }
        &-indicators .active {
            background-color: rgba(25, 189, 154, 0.9); 
        }
    }
}
/*Vertical carousel*/
.vertical .carousel-item-next.carousel-item-left,
.vertical .carousel-item-prev.carousel-item-right {
            transform: translate3d(0, 0, 0);
}
.vertical .carousel-item-next,
.vertical .active.carousel-item-right {
            transform: translate3d(0, 100%, 0);
}

.vertical .carousel-item-prev,
.vertical .active.carousel-item-left {
        transform: translate3d(0,-100%, 0);
}

.news {
    width: 100%;
    background-image: url("../assets/img/news-background.png");
    background-size: cover;
    &-head {
        padding:7em 0em 10em 10em;
        &__text1 {
            font-family: SourceSansPro-Light;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            padding-bottom: 1.2em;
            color: rgba(255, 255, 255, 1); 
        }
        &__text2 {
            font-family: OpenSans-Regular;
            font-size: 1.4em;
            margin: 0em;
            color: rgba(255, 255, 255, 0.6); 
        }
    }
    &-carousel {
        width: 100%;
        display: flex;
        flex-direction: row;
        &-indicators {
            width: 20%;
            margin: 0em;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: unset;
        }
        &-indicators>li {
            width: 1em;
            height: 1em;
            border-radius: 50%;
            border: 0.1em solid rgba(179, 179, 179, 0.9); 
            background-color: rgba(0, 0, 0, 0);
            margin-bottom: 0.8em;
        }
        &-indicators>li.active {
            background-color: rgba(179, 179, 179, 0.9); 
        }
        &-content {
            width: 80%;
            &__slide {               
                &-content {
                    width: 60%;
                    padding: 0em 0em 9em 17em;
                }
                &-text3 {
                    font-family: OpenSans-Regular;
                    font-size: 2em;
                    color: rgba(255, 255, 255, 0.8); 
                }
                &-text4 {
                    font-family: SourceSansPro-Light;
                    font-size: 1.4em;
                    color: rgba(177, 177, 177, 0.6); 
                    text-transform: uppercase;
                }
                &-text4>span {
                    font-size: 1em;
                    color: rgba(25, 189, 154, 0.7);
                }
                &-text5 {
                    font-family: SourceSansPro-Light;
                    font-size: 1.4em;
                    color: rgba(177, 177, 177, 0.4);
                }
                &-text6 {
                    font-family: OpenSans-Regular;
                    font-size: 1.4em;
                    color: rgba(177, 177, 177, 0.8);
                    margin: 3.6em 0em 2.8em 0em;
                    text-align: justify;
                }
                &-button {
                    font-family: OpenSans-Regular;
                    font-size: 1.6em;
                    color: rgba(255, 255, 255, 0.8); 
                    background-color: rgba(255, 255, 255, 0);  
                    border: 0em solid  rgba(255, 255, 255, 0);  
                    outline: none;
                }
            }
        }
    }
}
.price {
    width: 100%;
    background-color:  rgb(243, 243, 243);
    padding-bottom: 10em;
    &-head {
        width: 100%;
        text-align: center;
        padding: 7.5em 0em 5.5em 0em;
        &__text1 {
            font-family: SourceSansPro-Light;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            padding-bottom: 1.2em;
            color: rgba(51, 59, 70, 1);
            font-weight: bolder;
        }
        &__text2 {
            font-family: OpenSans-Regular;
            font-size: 1.4em;
            margin: 0em;
            color: rgba(129, 134, 142, 1);
        }
    }  
    &-content {
        width: 100%;
        background-color:  rgb(243, 243, 243);
        display: flex;
        flex-direction: row;
        justify-content: center;
        &-item {
            width: 23em;
            height: 30em;
            margin-right: 6em;
            position: relative;
            overflow: hidden;
            background-color: rgba(255, 255, 255, 1);
            &__list {
                height: 0%;
                position: relative;
                z-index: 0;
                animation: list-move-down 0.5s;
                animation-fill-mode: backwards;
                animation-play-state: paused;
                animation: list-move-up 0.5s;
                animation-fill-mode: backwards;
                animation-play-state: running;
            }
            &__list>p {
                padding: 1em 2em 2em 2em;
                font-family: OpenSans-Regular;
                font-size: 1.4em;
                color: rgba(51, 59, 70, 0.8);
                line-height: 2em;
            }
            &__top {
                height: 23%;
                position: relative;
                z-index: 2;
                background-color: rgba(25, 189, 154, 1);
                display: flex;
                justify-content: center;
                align-items: center;
                &-normal {
                    font-family: OpenSans-Regular;
                    font-size: 2em;
                    font-weight: bolder;
                    color: rgba(255, 255, 255, 1);  
                    letter-spacing: 0.1em;
                    display: inline;
                }
                &-hover {
                    display: none;
                }
                &-button {
                    font-family: OpenSans-Regular;
                    font-size: 1.8em;
                    color: rgba(255, 255, 255, 1);  
                    background-color: rgba(25, 189, 154, 0);
                    border: none;
                    outline: none;
                }
            }
            &__top:hover {
                .price-content-item__top-normal {
                    display: none
                }
                .price-content-item__top-hover {
                    display: inline;
                }
            }
            &__bottom {
                height: 77%;
                position: relative;
                z-index: 1;
                background-color: rgba(255, 255, 255, 1);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                animation: bottom-move-down 0.5s;
                animation-fill-mode: backwards;
                animation-play-state: paused;
                animation: bottom-move-up 0.5s;
                animation-fill-mode: backwards;
                animation-play-state: running;
                &-text1 {
                    font-family: SourceSansPro-Black;
                    font-size: 4.2em;
                    color: rgba(25, 189, 154, 0.9);
                    margin-bottom: 0em;
                }
                &-text2 {
                    font-family: OpenSans-Regular;
                    font-size: 2em;
                    color: rgba(51, 59, 70, 0.6);
                }
            }
        }
        &-item:last-child {
            margin-right: 0em;
        }  
        &-item:hover .price-content-item__list {
            animation: list-move-down 0.5s;
            animation-play-state: running;
            animation-fill-mode: forwards;
        }    
        &-item:hover .price-content-item__bottom {
            animation: bottom-move-down 0.5s;
            animation-play-state: running;
            animation-fill-mode: forwards;
        }
    }
}
@keyframes list-move-down {
    0% {height:0%}
    100% {height:77%}
}
@keyframes list-move-up {
    0% {height:77%}
    100% {height:0%}
}
@keyframes bottom-move-down {
    0% {height:77%}
    100% {height:0%}
}
@keyframes bottom-move-up {
    0% {height:0%}
    100% {height:77%}
}

.subscribe {
    width: 100%;
    background-image: url("../assets/img/subscribe-background.png");
    background-size: cover;
    &-head {
        width: 100%;
        text-align: center;
        padding: 7.5em 0em 5.5em 0em;
        &__text1 {
            font-family: SourceSansPro-Light;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            padding-bottom: 1.2em;
            color: rgba(255, 255, 255, 0.8); 
        }
        &__text2 {
            font-family: OpenSans-Regular;
            font-size: 1.4em;
            margin: 0em;
            color: rgba(255, 255, 255, 0.5); 
        }
    } 
    &-input {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 10em;
        &__text {
            width: 25em;
            height: 2.86em;
            background-color:  rgba(255, 255, 255, 0); 
            border:0.05em solid  rgba(255, 255, 255, 0.4); 
            margin-right: 1em;
            font-family: OpenSans-Regular;
            font-size: 1.4em; 
            color: rgba(255, 255, 255, 0.8);
            padding-left: 2em; 
        }
        &__text::placeholder {
            font-family: OpenSans-Regular;
            font-size: 1em; 
            color: rgba(255, 255, 255, 0.8);
        }
        &__button {
            width: 10.7em;
            height: 2.86em;
            border: none;
            background-color: rgba(25, 189, 154, 0.9);
            font-family: OpenSans-Regular;
            font-size: 1.4em;
            color: rgba(255, 255, 255, 0.9); 
            margin: 0em;
            outline: none;    
        }
    } 
}

.contact {
    width: 100%;
    background-color:  rgb(243, 243, 243);
    padding-bottom: 10em;
    &-head {
        width: 100%;
        text-align: center;
        padding: 7.5em 0em 5.5em 0em;
        &__text1 {
            font-family: SourceSansPro-Light;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            padding-bottom: 1.2em;
            color: rgba(51, 59, 70, 1);
            font-weight: bolder;
        }
        &__text2 {
            font-family: OpenSans-Regular;
            font-size: 1.4em;
            margin: 0em;
            color: rgba(129, 134, 142, 1);
        }
    }
    &-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        &__item {
            width: 28.7em;
            height: 29em;
            background-color:  rgba(255, 255, 255, 1); 
            margin-right: 4em;         
            &-top1 {
                width: 100%;
                height: 50%;
                background-image: url("../assets/img/contact-1.png");
                background-size: cover;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &-top1>img {
                width: 4em;
                height: 4em;
            }
            &-top1>img:hover {
                transform: scale(1.4)
            }
            &-top2 {
                width: 100%;
                height: 50%;
                background-image: url("../assets/img/contact-2.png");
                background-size: cover;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &-top2>img {
                width: 4em;
                height: 4em;
            }
            &-top2>img:hover {
                transform: scale(1.4)
            }
            &-top3 {
                width: 100%;
                height: 50%;
                background-image: url("../assets/img/contact-3.png");
                background-size: cover;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &-top3>img {
                width: 4em;
                height: 4em;
            }
            &-top3>img:hover {
                transform: scale(1.4)
            }
            &-bottom {
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;  
            }
            &-text1 {
                font-family: OpenSans-Regular;
                font-size: 1.6em;
                color: rgba(51, 59, 70, 1);
            }
            &-text2 {
                font-family: OpenSans-Regular;
                font-size: 1.4em;
                text-transform: uppercase;
                color: rgba(51, 59, 70, 0.7);
            }
        }
        &__item:last-child {
            margin-right: 0em;
        }
    }  
}
.feedback {
    width: 100%;
    background-color:  rgb(255, 255, 255);
    padding-bottom: 10em;
    &-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 8em;
        &__text1 {
            width: 69%; 
            display: flex;     
            justify-content: space-between;
            &-item {
                width: 30%;
                height: 2.85em;
                flex-wrap: nowrap;
                font-family: OpenSans-Regular;
                font-size: 1.4em;
                color: rgba(51, 59, 70, 1);
                padding-left: 2em;
                border:0.05em solid  rgba(177, 177, 177, 1); 
                //margin-left: 2.85em;
            }
            &-item::placeholder {
                color: rgba(177, 177, 177, 1); 
            }
            &-item:first-child {
                margin-left: 0em;
            } 
        }
        &__text2 {
            width: 69%;
            height: 13em;
            font-family: OpenSans-Regular;
            font-size: 1.4em;
            color: rgba(51, 59, 70, 1);
            padding-left: 2em;
            border:0.05em solid  rgba(177, 177, 177, 1); 
            margin: 2.5em 0em 2.5em 0em;
        }  
        &__button {
            width: 69%;
            height: 2.5em;
            background-color: rgba(25, 189, 154, 0.9);
            font-family: OpenSans-Regular;
            font-size: 1.6em;
            color: rgba(255, 255, 255, 1); 
            border:none; 
            outline: none;    
        }    
    }
}
.map {
    width: 100%;
    height: 50em;
    &-frame {
        width: 100%;
        height: 50em;
        border: none;
        position: absolute;
        z-index: 1;
    }
    &-top {
        width: 100%;
        height: 50em;
        position: absolute;
        background-color: rgba(5, 5, 5, 0.8);
        z-index: 2;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &__text {
            font-family: OpenSans-Regular;
            font-size: 1.6em;
            color: rgba(255, 255, 255, 1); 
            margin: 0em 0.8em 0em 0em;
        }
        &__button {
            width: 2em;
            height: 2em;
            border-radius: 50%;
            background-color: rgba(25, 189, 154, 0.9); 
            color: rgba(255, 255, 255, 1); 
            padding: 0.15em 0em 0em 0.7em;
        }
    }
}
.map:hover .map-top{
    display: none;
}
.bottom {
    width: 100%;
    background-color:  rgb(243, 243, 243);
    padding: 8em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-text1 {
        font-family: BigJohn;
        font-size: 2.5em;
        color:  rgba(50, 58, 69, 0.9); 
        text-transform: uppercase;
    }
    &-text2 {
        font-family: OpenSans-Regular;
        font-size: 1.4em;
        color: rgba(125, 125, 125, 1);
    }
    &-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2.5em;
    }
    &-logo>img {
        width: 3em;
        height: 3em;
        margin-right: 1em;
    }
    &-logo>img:last-child {
        margin-right: 0em;
    }
}


@media screen and (max-width: 1150px) {
    .services-content {
        width: 90%;
    }
    .services-carousel-content__slide {
        padding-right: 1em;
    }
}

@media screen and (max-width: 1100px) {
    .projects-content>div  {
        height: 25em;
    }
    .services-content__left {
        width: 40%;
        padding-right: 3em;
    }
    .services-content__right {
        width: 40%;
    }
    .portfolio-item-col>div {
        //height: 20em;
    }
    .portfolio-item__background {
        //height: 20em;
    }
}
@media screen and (max-width: 1050px) {
    .portfolio-item {
        height: 80em;
    }
    .portfolio-item-block>div,
    .portfolio #item3>div,
    .portfolio #item4>div,
    .portfolio #item9>div {
        padding-right: 2em;
        padding-left: 2em;
    }
    .portfolio-item__content-text {
        line-height: 1.5em;
    }
    .portfolio-item__content-icon1, {
        width: 2.5em;
        height: 2.5em;
    }
    .portfolio-item__content-icon-img {
        padding: 0.6em 0.6em;
    }
}
@media screen and (max-width: 1000px) {
    .start-left {
        width: 45%;
    }
    .details-carousel-content__left {
        padding-right: 5em;
    }
    .details-carousel-content__right {
        padding-right: 0;
    }
    .services-content {
        flex-wrap: wrap;
    }
    .services-content__icons {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        &-icon {
            margin: 0em 3em 5em 0em;
        }
    }
    .services-content__left {
        width: 35%;
    }
    .services-content__right {
        width: 50%;
    }
    .quote-content {
        padding: 5em 2em 7em 0em;
        &__head {
            padding-bottom: 1em;
        }
        &__text1 {
            font-size: 1.5em;
        }
    }
    .quote-image {
        justify-content: center;
    }
    .quote-image>img {
        transform: scale(0.8);
        margin-top: -6em;
    }

    .team-carousel-content {
        width: 90%;
    }
    .team-carousel-content__left {
        width: 50%;
    }
    .team-carousel-content__right {
        width: 50%;
        height: 40em;
        font-size: 0.9em;
        padding-right: 2em;
    }
    .contact-content__item {
        width: 25em;
        height: 25em;
        margin-right: 3em;
    }
    .feedback-form__text1-item {
        padding-left: 1.5em;
    }
    .bottom {
        padding: 5em 0;
    }
    .bottom-logo {
        margin-top: 1.5em
    }
} 

@media screen and (max-width: 900px) {
    .portfolio-item-col {
        width: 22%;
        margin-right: 0.5em;
    }
    .portfolio #item1,.portfolio #item2,.portfolio #item3,
    .portfolio #item4,.portfolio #item5,.portfolio #item6,
    .portfolio #item7,.portfolio #item8,.portfolio #item9,
    .portfolio #item10,.portfolio #item11,.portfolio #item12, {
        margin-bottom: 0.5em;
    }
    .news-head {
        padding: 7em 0em 7em 10em;
    }
    .news-carousel-content__slide-content {
        width: 80%;
        padding: 0em 0em 9em 10em;
    }
    .price-content>div {
        width: 20em;
        height: 25em;
        margin-right: 3em;
    }
    .price-content-item1__top-normal,.price-content-item2__bottom-normal {
        font-size: 1.8em;
    }
    .price-content-item1__bottom-text1,.price-content-item2__top-text1 {
        font-size: 4em;
    }
    .price-content-item1__bottom-text2,.price-content-item2__top-text2 {
        font-size: 1.8em;
    }
    .price-content-item1__bottom-text3,.price-content-item2__top-text3 {
        font-size: 1.3em;
        line-height: 1.7em;
    }
    .contact-content__item {
        width: 20em;
        height: 20em;
        margin-right: 3em;
    }
    .contact-content__item-text1 {
        font-size: 1.4em
    }
    .contact-content__item-text2 {
        font-size: 1.2em
    }
    .feedback-form__text1, .feedback-form__text2, .feedback-form__button {
        width: 80%;
    }
    .feedback-form__text1-item {
        width: 32%;
    }
}

@media screen and (max-width: 850px) {
    .services-content__right {
        justify-content: flex-end;
    }
    .services-content__right-item {
        width: 32%;
        transform: scale(0.9);
    }
    .quote-content {
        font-size: 8px;
        &__head {
            padding-bottom: 0.5em;
        }
    }
    .quote-image>img {
        transform: scale(0.7);
        margin-top: -8em;
    }
}
@media screen and (max-width: 800px) {
    .header-top {      
        flex-direction: column;
        padding: 3.5em 0em 15em 0em;
        &__logo {
            width: 100%;
        }
        &__nav {
            width: 100%;
            justify-content: center;
        }
    }
    .header-head {
        padding-bottom: 15em;
    }
    .start-left__text2 {
        padding-right: 0em;
    }
    .details-carousel-content__inner {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .details-carousel-content__left {
        width: 80%;
        padding-right: 0em;
    }
    .details-carousel-content__right {
        width: 80%;
        padding-top: 3em;
    }
    .projects-content>div  {
        height: 20em;
    }
    .services-content {
        flex-direction: column-reverse;
    }
    .services-content__right {
        width: 80%;
        align-self: center;
        justify-content: center;
        padding-bottom: 4em;
        &-item {
            width: 25%;
        }
    }
    .services-carousel, {
        width: 80%;
        align-self: center;
    }
    .portfolio-input {
        font-size: 0.9em;
        padding-bottom: 5em;
    }
    .portfolio-item {
        height: 70em;
    }
    .portfolio-item-block>div,
    .portfolio #item3>div,
    .portfolio #item4>div,
    .portfolio #item9>div {
        padding-right: 1em;
        padding-left: 1em;
    }
    .portfolio-item__content-head {
        font-size: 1.7em;
    }
    .portfolio-item__content-text {
        font-size: 1.1em;
    }
    .portfolio-banner {
        font-size: 9px;
        padding: 3em 0.5em 4em 0.5em;
    }
    .subscribe-input {
        padding-bottom: 8em;
    }
    .contact {
        padding-bottom: 7em;
    }
    .map, .map-frame, .map-top {
        height: 40em;
    }
} 

@media screen and (max-width: 750px) {
    .projects-bottom__text {
        font-size: 1.7em;
        width: 70%
    }
    .projects-bottom__button {
        width: 20%;
        &-but {
            font-size: 1.5em;
        }
    }
    .price {
        padding-bottom: 7em;
    }
    .price-content>div {
        width: 16em;
        height: 20em;
        margin-right: 3em;
    }
    .price-content-item__list > p {
        padding: 1em 1.5em 1.5em 1.5em;
        font-size: 1.2em;
    }
    .price-content-item__top-normal {
        font-size: 1.8em;
    }
    .price-content-item__top-button {
        font-size: 1.6em;
    }
    .price-content-item__bottom-text1 {
        font-size: 3.8em;
    }
    .price-content-item__bottom-text2 {
        font-size: 1.7em;
    }
}
@media screen and (max-width: 700px) {
    .details-carousel-content__inner {
        padding-bottom: 6em;
    }
    .quote-content {
        font-size: 7px;
        padding: 5em 2em 5em 0;
    }
    .quote-image>img {
        transform: scale(0.6);
        margin-top: -10em;
    }
    .portfolio-item {
        height: 100em;
    }
    .portfolio-item-col {
        width: 40%;
        height: 50%;
    }
    .portfolio #item1,.portfolio #item2,.portfolio #item3,
    .portfolio #item4,.portfolio #item5,.portfolio #item6,
    .portfolio #item7,.portfolio #item8,.portfolio #item9,
    .portfolio #item10,.portfolio #item11,.portfolio #item12, {
        height: 33%;
    }
    .portfolio-item-block>div,
    .portfolio #item3>div,
    .portfolio #item4>div,
    .portfolio #item9>div {
        padding: 2em 3em;
    }
    .testimonials-carousel-indicators {
        bottom: 2em;
    }
    .testimonials-carousel-content__left{
        width:35%;
        margin-top: 4em;
        
    }
    .testimonials-carousel-content__right {
        width:65%;
        margin: 4em 0 6em 0;
        padding-right: 5em;
    }
    .testimonials-carousel-content__right-text1 {
        font-size: 1.4em;
    }
    .contact-content__item {
        width: 17em;
        height: 17em;
        margin-right: 2em;
    }
    .contact-content__item-top1>img, .contact-content__item-top2>img, .contact-content__item-top3>img {
        width: 3em;
        height: 3em;
    }
    .contact-content__item-text1 {
        font-size: 1.3em
    }
    .contact-content__item-text2 {
        font-size: 1.1em
    }
    .feedback-form {
        padding-top: 6em;
    }
    .feedback-form__text1 {
        flex-wrap: wrap;
    }
    .feedback-form__text1-item {
        width: 48%;
        margin-bottom: 1em;
    }
    .feedback-form__text1-item:last-child {
        width: 100%;
    }
    .feedback-form__text2 {
        margin-top: 0em;
    }
}


@media screen and (max-width: 650px) {
    .header-top {      
        padding: 3em 0em 10em 0em;
    }
    .header-top__nav>a {      
        padding: 0.3em 0.6em; 
    }
    .start-left {
        width: 50%;
    }
    .start-right {
        width: 30%;
        align-items: center;
        padding-top: 0em;
        &__img {
            width: 100%;
            height: auto;
        }
    }
    .portfolio-input {
        font-size: 0.8em;
        &__button {
            padding: 0.6em 0.8em;
        }
    }
    .portfolio-sort>img {
        width: 20em;
        height: 20em;
        margin-right: 1em;
    }
} 

@media screen and (max-width: 600px) {
    //HEAD//
    .header-head__text2 {
        width: 90%;
        margin: auto;
        font-size: 1.4em
    }
    .header-head__text2>br {
        display: none;
    }
    .start-left__text1 {
        padding-top: 3em;
    }
    .details-head {
        padding: 6em 0em 4.5em 0em;
    }
    .details-icons {
        padding-bottom: 5em;
    }
    .projects-head {
        padding: 6em 0em 4.5em 0em;
    }
    .projects-content {
        flex-direction: column;
    }
    .projects-content>div {
        width: 100%;
        height: 23em;
    }
    .projects-content>div:hover {
        width: 100%;
    }
    .projects-bottom {
        flex-direction: column;
        height: max-content;
        &__text {
            width: 90%;
            text-align: center;
            padding: 1.5em 0;
        }
        &__button {
            padding-bottom: 3em;
            width: 100%;
        }
    }
    .services-content__right {
        width: 90%;
    }
    .services-content__right-item {
        width: 30%;
    }
    .services-carousel {
        width: 90%;
    }
    .services-carousel-content__slide {
        padding-right: 0em;
    }
    .services-indicators {
        margin-right: 2em;
    }
    .services-head {
        padding: 6em 0em 4.5em 0em;
    }
    .portfolio {
        padding-bottom: 8em;
    }
    .portfolio-head {
        padding: 6em 0em 4.5em 0em;
    }
    .portfolio-banner {
        font-size: 8px;
    }
    .team-head {
        padding: 6em 0em 4.5em 0em;
    }
    .team-carousel-indicators {
        bottom: -40em;
    }
    .team-carousel-content__left {
        display: none;
    }
    .team-carousel-content__right {
        width: 100%;
    }
    .team-carousel-content__right-img {
        width:40%;
        display: block;
        float: left;
        padding-left: 2em;
    }
    .team-carousel-content__right-line1, 
    .team-carousel-content__right-line2, 
    .team-carousel-content__right-line3 {
        margin-bottom: 1em;
    }
    .team-carousel-content__right-tab {
        width: 100%;
        align-items: flex-start;
        padding-left: 2em;
    }
    .team-carousel-content__right-tab>div {
        width: 100%;
    }
    .team {
        padding-bottom: 8em;
    }
    .testimonials {
        padding-bottom: 8em;
    }
    .contact-banner {
        font-size: 9px;
        padding: 3em 0 4em 0;
    }
    .testimonials-head {
        padding: 6em 0em 4.5em 0em;
    }
    .news-head {
        padding: 5em 0 5em 5.5em;
    }
    .news-head__text1 {
        padding-bottom: 0.6em;
    }
    .news-carousel-content__slide-content {
        width: 100%;
        margin-right: 0;
        padding-left: 5.5em;
    }
    .price-head {
        padding: 6em 0em 4.5em 0em;
    }
    .price-content>div {
        width: 14em;
        height: 18em;
        margin-right: 2em;
    } 
    .price-content-item__list > p {
        padding: 0.5em 1em 1.5em 1em;
        line-height: 1.6em;
    }
    .price-content-item__top-normal {
        font-size: 1.7em;
    }
    .price-content-item__top-button {
        font-size: 1.5em;
    }
    .price-content-item__bottom-text1 {
        font-size: 3.6em;
    }
    .price-content-item__bottom-text2 {
        font-size: 1.5em;
    }
    .subscribe-head {
        padding: 6em 0em 4.5em 0em;
    }
    .subscribe-input__text {
        width: 20em;
    }
    .subscribe-input__button {
        width: 9em;
    }
    .contact-head {
        padding: 6em 0em 4.5em 0em;
    }
    .contact-content__item {
        width: 15em;
        height: 15em;
        margin-right: 2em;
    }
    .contact-content__item-text1 {
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }
    .contact-content__item-text2 {
        font-size: 1em
    }
    .contact {
        padding-bottom: 5em;
    }
    .feedback {
        padding-bottom: 7em;
    }
    .map, .map-frame, .map-top {
        height: 25em;
    }
    .bottom {
        padding: 4em 0;
    }
    .bottom-text1 {
        font-size: 2em;
        line-height: 1em;
    }
    .bottom-text2 {
        font-size: 1.3em;
    }
    .bottom-logo {
        margin-top: 1.5em
    }
    .bottom-logo>img {
        width: 2.5em;
        height: 2.5em;
    }
}

@media screen and (max-width: 550px) {
    .header-top {
        padding: 2em 0 3em 0;
    }
    .header-top__nav {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .header-top__nav-button {
        width: 40%;
        text-align: center;
    }
    .header-head {
        padding-bottom: 4em;
    }
    .header-bottom {
        padding-bottom: 5em;
    }
    .details-indicators {
        padding: 0 0 3em 0;
    }
    .details-carousel-content__left-head {
        font-size: 1.8em;
        padding-bottom: 1em;
        margin-bottom: 0;
    }
    .details-carousel-content__left-text {
        font-size: 1.4em;
    }
    .details-carousel-content__right {
        padding-top: 1em;
    }
    .details-carousel-content__right-text {
        font-size: 1.4em;
        line-height: 1.5em;
    }
    .services-content {
        padding-bottom: 8em;
    }
    .quote-image {
        display: none;
    }
    .quote-content {
        width: 80%;
        font-size: 8px;
    }
    .portfolio-item-block>div,
    .portfolio #item3>div,
    .portfolio #item4>div,
    .portfolio #item9>div {
        padding: 1.5em 2em;
    }
} 

@media screen and (max-width: 500px) {
    .details-carousel-content__right {
        padding-top: 1em;
    }
    .services-indicators>li {
        transform: scale(0.9)
    }
    .services-carousel-content__slide-text1 {
        font-size: 1.4em;
        line-height: 1.6em;
    }
    .services-carousel-content__slide-text2 {
        line-height: 1.6em;
    }
    .portfolio-input {
        font-size: 0.7em;
        &__button {
            padding: 0.6em 0.8em;
        }
    }
    .contact-content__item {
        width: 13em;
        height: 13em;
        margin-right: 1em;
    }
    .contact-content__item-text2 {
        font-size: 0.8em
    }
    .start-right {
        display: none;
    }
    .start-left {
        width: 80%;
    }
    .start-left__text1 {
        padding-top: 3em;
    }
    .start-left__button {
        padding: 3em 0 4em 0;
    }
    .portfolio-sort>img {
        width: 14em;
        height: 14em;
        margin-right: 0.5em
    }
    .testimonials-carousel-content__left {
        width: 100%;
        float: none;
        margin-top: 2.5em;
    }
    .testimonials-carousel-content__left-img {
        width: 10em;
        height: 10em;
    }
    .testimonials-carousel-content__right {
        width: 100%;
        padding: 0 4em;
        margin-top: 2em;
    }
    .testimonials-carousel-content__right-text2, .testimonials-carousel-content__right-text3 {
        font-size: 1.4em;
    }
    .price {
        padding-bottom: 5em;
    }
    .price-content>div {
        width: 12em;
        height: 16em;
        margin-right: 1em;
    } 
    .price-content-item__list > p {
        font-size: 1.1em;
        padding: 0.5em 1em 1.5em 1em;
        line-height: 1.4em;
    }
    .price-content-item__top-normal {
        font-size: 1.7em;
    }
    .price-content-item__bottom-text1 {
        font-size: 3.6em;
    }
    .price-content-item__bottom-text2 {
        font-size: 1.5em;
    }
    .subscribe-input {
        flex-direction: column;
        padding-bottom: 4em;
    }
    .subscribe-input__text {
        width: 90%;
        height: 2.5em;
        margin: 0 auto;
    }
    .subscribe-input__button {
        width: 30%;
        height: 2.5em;
        margin: 1.5em auto 0em auto;
    }
}
@media screen and (max-width: 450px) {
    //HEAD//
    .details-head {
        padding: 4em 0 4em 0;
    }
    .details-head__text1 {
        padding-bottom: 0.5em;
    }
    .details-head__text2 {
        width: 90%;
        margin: auto;
    }
    .details-head__text2>br {
        display: none;
    }
    .projects-head {
        padding: 4em 0 4em 0;
    }
    .projects-head__text1 {
        padding-bottom: 0.5em;
    }
    .projects-head__text2 {
        width: 90%;
        margin: auto;
    }
    .projects-head__text2>br {
        display: none;
    }
    .services-head {
        padding: 4em 0 1em 0;
    }
    .services-head__text1 {
        padding-bottom: 0.5em;
    }
    .services-head__text2 {
        width: 90%;
        margin: auto;
    }
    .services-head__text2>br {
        display: none;
    }
    .portfolio-head {
        padding: 4em 0 1em 0;
    }
    .portfolio-head__text1 {
        padding-bottom: 0.5em;
    }
    .portfolio-head__text2 {
        width: 90%;
        margin: auto;
    }
    .portfolio-head__text2>br {
        display: none;
    }
    .portfolio {
        padding-bottom: 6em;
    }
    .team-head {
        padding: 4em 0 2em 0;
    }
    .team-head__text1 {
        padding-bottom: 0.5em;
    }
    .team-head__text2 {
        width: 90%;
        margin: auto;
    }
    .team-head__text2>br {
        display: none;
    }
    .testimonials-head {
        padding: 4em 0 2em 0;
    }
    .testimonials-head__text1 {
        padding-bottom: 0.5em;
    }
    .testimonials-head__text2 {
        width: 90%;
        margin: auto;
    }
    .testimonials-head__text2>br {
        display: none;
    }
    .price-head {
        padding: 4em 0 2em 0;
    }
    .price-head__text1 {
        padding-bottom: 0.5em;
    }
    .price-head__text2 {
        width: 90%;
        margin: auto;
    }
    .price-head__text2>br {
        display: none;
    }
    .subscribe-head {
        padding: 4em 0 2em 0;
    }
    .subscribe-head__text1 {
        padding-bottom: 0.5em;
    }
    .subscribe-head__text2 {
        width: 90%;
        margin: auto;
    }
    .subscribe-head__text2>br {
        display: none;
    }
    .contact-head {
        padding: 4em 0 2em 0;
    }
    .contact-head__text1 {
        padding-bottom: 0.5em;
    }
    .contact-head__text2 {
        width: 90%;
        margin: auto;
    }
    .contact-head__text2>br {
        display: none;
    }
    //HEAD//


    .details-indicators {
        padding-bottom: 3em;
    }
    .details-indicators>li {
        width: 4.5em;
        height: 4.5em;
        margin-right: 1.5em;
    }
    .details-indicators__icon1 {
        padding: 1.2em 1em;
    }
    .details-indicators__icon2 {
        padding: 0.6em 1.5em;
    }
    .details-indicators__icon3 {
        padding: 0.8em 1.3em;
    }
    .services-content__right-item {
        transform: scale(0.65)
    }
    .portfolio-input {
        flex-wrap: wrap;
    }
    .portfolio-item {
        height: 85em;
    }
    .portfolio-item-block>div,
    .portfolio #item3>div,
    .portfolio #item4>div,
    .portfolio #item9>div {
        padding: 1em 1em;
    }
    .portfolio-item__content-head {
        text-align: center;
    }
    .portfolio-item__content-text {
        font-size: 1em;
        line-height: 1em;
        text-align: center
    }
    .portfolio-item__content-icon {
        justify-content: center;
    }
    .portfolio-item__content-icon1, {
        transform: scale(0.9);
        margin-right: 0.2em;
    }
    .contact-content {
        flex-direction: column;
    }
    .contact-content__item {
        width: 90%;
        height: 10em;
        margin: 1em auto;
        display: flex;
        flex-direction: row;
    }
    .contact-content__item:last-child {
        margin: 1em auto;
    }
    .contact-content__item-top1, .contact-content__item-top2, .contact-content__item-top3 {
        width: 40%;
        height: 100%;
    }
    .contact-content__item-bottom {
        width: 60%;
        height: 100%;
    }
    .contact-content__item-text1 {
        font-size: 1.5em;
    }
    .contact-content__item-text2 {
        font-size: 1.1em;
        padding: 0 1em;
    }
    .feedback {
        padding-bottom: 5em;
    }
    .feedback-form {
        padding-top: 5em;
    }
    .feedback-form__text1-item {
        width: 100%;
        height: 2.5em;
    }
    .feedback-form__text2 {
        height: 10em;
    }
}
@media screen and (max-width: 400px) {
    .services-content {
        padding-bottom: 5em;
    }
    .services-carousel {
        width: 95%;
    }
    .services-indicators {
        margin-right: 1em;
    }
    .services-indicators>li {
        margin: 0;
        transform: scale(0.8)
    }
    .services-content__right {
        padding-bottom: 1em;
    }
    .services-carousel-content__slide-head {
        margin: 0 0 0.5em 0;
    }
    .services-carousel-content__slide-text1 {
        margin: 0 0 0.5em 0;
    }
    .services-carousel-content__slide-text2 {
        font-size: 1.3em;
    }
    .price-content {
        flex-direction: column;
    }
    .price-content>div {
        width: 25em;
        height: 20em;
        margin: 0 auto 2em auto;
    }
    .price-content-item__list > p {
        font-size: 1.3em;
        padding: 1em 1em 1em 2em;
        line-height: 1.8em;
    }
    .price-content-item:last-child{
        margin: 0 auto 2em auto;
    }
    .price-content-item__top-normal {
        font-size: 2em;
    }
    .price-content-item__top-button {
        font-size: 1.8em;
    }
    .price-content-item__bottom-text1 {
        font-size: 4.2em;
    }
    .price-content-item__bottom-text2 {
        font-size: 2em;
    }
}